{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block title %}練習の編集{% endblock title %}

{% block contents %}
    <h4 class="mt-4 mb-5 border-bottom">練習の編集</h4>
    {% if practice_id %}
    <form action="{% url 'ishot_site:practice_mod' practice_id=practice_id %}" method="post">
    {% else %}
    <form action="{% url 'ishot_site:practice_add' %}" method="post">
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'ishot_site:practice_list' %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock %}