{% extends "base/base.html" %}

{% block title %}練習の一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">プロフィール</h4>

   {% for profile in userprofile_list %}
          <p scope="col">苗字: {{ profile.last_name }}</p>
          <p scope="col">名前: {{ profile.first_name }}</p>
          <p scope="col">性別: {{ profile.sex }}</p>
        　<p scope="col">年齢: {{ profile.old }}</p>
          <p scope="col">大学: {{ profile.university }}</p>
          <p scope="col">学年: {{ profile.grade }}</p>
          <p scope="col">経験年数: {{ profile.experience }}</p>

          <a href="{% url 'ishot_site:profile_update' profile.pk %}" class="btn btn-outline-primary btn-sm">修正</a>
   {% endfor %}
{% endblock %}
